/* You can add global styles to this file, and also import other style files */
*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
html, body { height: 100%; background-color: #eee; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
    padding:10px;
}
.border{
    border:0.5px solid #aaa1;
}